@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: "0px";
    box-sizing: "border-box";
    padding: "0px"
}
/* Start: No scroll bar */

.no-scrollbar {
scrollbar-width: none; 
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* End: No scroll bar */

/* Start:Custom Scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FFA500 #f1f1f1;;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FFA500;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #FF8C00;
}

/* End:Custom Scrollbar */

/* Start:Transition Animations */
.drop-enter-active,
.drop-leave-active {
    transition: all 0.4s ease;
}
.drop-enter-from {
    opacity: 0;
    transform: translateY(-10px);
}
.drop-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

/* End:Transition Animations */

/* Start:Dark and light mode*/
.liquid-glass-light {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #1a1a1a; /* Dark text for light background */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.liquid-glass-dark {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #f1f1f1; /* Light text for dark background */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

/* End:Dark and light mode*/

.liquid-glass-popup {
    background-color: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    border-radius: 16px;
}
